div#form.form{
  text-align:center;
}

img{
  width:30%;
  display:block;
  margin-left:auto;
  min-width:240px;
  margin-right:auto;
}

div#info.info{
  width:50%;
  margin-left:25%;
}

div#wholething.wholething{
  height:50%;
  margin-top:10%;
}

